# Python stuff
/__pycache__

# Jupyter Notebook
.ipynb_checkpoints

# image folders
/originals_in_system/*
/tagged_images/*
/images_new_to_system/*
/decoding/owner_labeled/*
/decoding/to_check_ownership/*